<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Mission: Impossible -- Pour une gestion moderne des déplacements professionnels</title>
        <h:outputStylesheet name="style.css"/>
    </h:head>
    <h:body>
        <f:view>
            <h1>Mission: Impossible</h1>
            <h2>Interface d'administration</h2>
            <p>
                vous êtes authentifié(e) en tant que <h:outputLabel value="#{accountController.username}" />
            </p>

            <h3>Missions connues du système</h3>
            <p><strong>À supprimer à terme&nbsp;: ne fait pas partie du cahier des charges, aucun agent ne devrait avoir accès à cette liste.</strong></p>
            <h:form id='attribution'>
                <h:dataTable value="${missionListController.getMissions()}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agentAdmin}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                </h:dataTable>
            </h:form>

            <h3>Missions demandées</h3>
            <h:form id='demandes'>
                <h:dataTable value="${missionListController.getMissionsDemandees()}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                    <h:column>
                        <h:commandLink action="#{missionListController.attribuer(mission, 'admin1')}" value="S'attribuer la mission" />
                    </h:column>
                </h:dataTable>
            </h:form>
            

            <h3>Les missions que vous suivez</h3>
            <p>Missions Attribuées</p>
            <h:form id='attribuee'>
                <h:dataTable value="${missionListController.getMissionsParEtatSuiviesPar('ATTRIBUEE', 'admin1')}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                    <h:column>
                        <h:commandLink action="#{missionListController.valider(mission)}" value="Valider la mission" />
                    </h:column>
                    <h:column>
                        <h:commandLink action="#{missionListController.refuser(mission)}" value="Refuser la mission" />
                    </h:column>
                </h:dataTable>
            </h:form>
            
            <p>Missions Validées</p>
            <h:form id='validee'>
                <h:dataTable value="${missionListController.getMissionsParEtatSuiviesPar('VALIDEE', 'admin1')}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                </h:dataTable>
            </h:form>
            
            <p>Missions en cours</p>
            <h:form id='en_cours'>
                <h:dataTable value="${missionListController.getMissionsParEtatSuiviesPar('EN_COURS', 'admin1')}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                    <h:column>
                        <h:commandLink action="#{missionListController.payer(mission)}" value="Mise en paiement" />
                    </h:column>
                </h:dataTable>
            </h:form>
            
            <p>Missions Payées</p>
            <h:form id='payee'>
                <h:dataTable value="${missionListController.getMissionsParEtatSuiviesPar('PAYEE', 'admin1')}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                </h:dataTable>
            </h:form>
            
            <p>Missions Refusées</p>
            <h:form id='refusee'>
                <h:dataTable value="${missionListController.getMissionsParEtatSuiviesPar('REFUSEE', 'admin1')}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                </h:dataTable>
            </h:form>
            

            <p> 
                <ul>
                    <li><h:link outcome="/index" value="Retour à la page d'accueil" /></li>
                </ul>
            </p>
        </f:view>
    </h:body>
</html>
