<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Mission: Impossible -- Pour une gestion moderne des déplacements professionnels</title>
        <h:outputStylesheet name="style.css"/>
    </h:head>
    <h:body>
        <f:view>
            <h1>Mission: Impossible</h1>
            <h2>Gestion de vos missions</h2>
            <p>Missions demandées</p>
            <h:form id='demandee'>
                <h:dataTable value="${missionListController.getMissionsParEtatFaitesPar('DEMANDEE', 'agent1')}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                </h:dataTable>
            </h:form>
            
            <p>Missions attribuées</p>
            <h:form id='attribuee'>
                <h:dataTable value="${missionListController.getMissionsParEtatFaitesPar('ATTRIBUEE', 'agent1')}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                </h:dataTable>
            </h:form>
            
            <p>Missions validées</p>
            <h:form id='validee'>
                <h:dataTable value="${missionListController.getMissionsParEtatFaitesPar('VALIDEE', 'agent1')}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                </h:dataTable>
            </h:form>
            
            <p>Missions en cours</p>
            <h:form id='en_cours'>
                <h:dataTable value="${missionListController.getMissionsParEtatFaitesPar('EN_COURS', 'agent1')}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                </h:dataTable>
            </h:form>
            
            <p>Missions payées</p>
            <h:form id='payee'>
                <h:dataTable value="${missionListController.getMissionsParEtatFaitesPar('PAYEE', 'agent1')}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                </h:dataTable>
            </h:form>
            
            <p>Missions refusées</p>
            <h:form id='refusee'>
                <h:dataTable value="${missionListController.getMissionsParEtatFaitesPar('REFUSEE', 'agent1')}" var="mission">
                    <h:column>
                        <h:outputText value="${mission.id}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.lieu}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.date}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.agent}" />
                    </h:column>
                    <h:column>
                        <h:outputText value="${mission.etat}" />
                    </h:column>
                </h:dataTable>
            </h:form>

            <h2>Demande de mission</h2>
            <h:form id="creation">
                <p>À réaliser&nbsp;!</p>
            </h:form>

            <p> 
                <ul>
                    <li><h:link outcome="/index" value="Retour à la page d'accueil" /></li>
                </ul>
            </p>
        </f:view>
    </h:body>
</html>
